.welcomeBack {
    position: relative;
    font-weight: 500;
}
.welcomeBackWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 53.1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 32px;
}
.enterYourCredentials {
    position: absolute;
    top: 53.1px;
    left: 0px;
    font-size: 16px;
    font-weight: 00;
    line-height: 1.4;
    display: inline-block;
    max-width: 500px; /* 기존 너비는 제한 걸어줌 */
    white-space: normal; /* 줄바꿈 허용 */
    word-break: break-word;
}

.nameWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameChild {
    width: 404px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
}
.frameGroup {
    position: absolute;
    top: 111.73px;
    left: 0px;
    width: 404px;
    height: 57.5px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 13px;
}
.nameFrame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.frameWrapper {
    width: 404px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px 10px 10px;
    font-size: 10px;
    color: #d9d9d9;
}
.frameContainer {
    position: absolute;
    top: 139.39px;
    left: 0px;
    width: 404px;
    height: 58.6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameDiv {
    position: absolute;
    top: 217.93px;
    left: 0px;
    width: 404px;
    height: 58.6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    z-index: 10;
  }
  

.groupChild {
    position: absolute;
    top: 2.21px;
    left: 0px;
    border-radius: 2px;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 9px;
    height: 10px;
}
.rememberFor30DaysParent {
    position: absolute;
    top: 296.48px;
    left: 0px;
    width: 119px;
    height: 15.5px;
    font-size: 9px;
}
.dontHaveAn {
    white-space: pre-wrap;
}
.signUp {
    color: #0f3dde;
}
.dontHaveAnContainer {
    position: absolute;
    top: -80px;
    left: 0px;
    font-weight: 500;
    display: inline-block;
    width: 300px;
    height: 23.2px;
}
.dontHaveAnAccountSignUpWrapper {
    position: absolute;
    top: 559.77px;
    left: 93px;
    width: 229px;
    height: 23.2px;
}
.frameItem {
    width: 31px;
    height: 15px;
}
.frameWrapper3 {
    width: 404px;
    border-radius: 10px;
    background-color: #3a5b22;
    border: 1px solid #3a5b22;
    box-sizing: border-box;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px 10px 10px;
}
.frameWrapper2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 404px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.login {
    position: absolute;
    top: 6px;
    left: 185px;
}
.instanceParent {
    position: absolute;
    top: 300px;
    left: 0px;
    width: 404px;
    height: 35.4px;
    font-size: 13px;
    color: #fff;
}
.icons8Google1 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.icons8Google1Parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.frameWrapper4 {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 20px;
    white-space: nowrap;
}
.icons8AppleLogo1Parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.frameWrapper5 {
    width: 190px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 20px;
    white-space: nowrap;
}
.frameParent1 {
    position: absolute;
    top: 400px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 23px;
    font-size: 12px;
}
.forgotPassword {
    position: absolute;
    top: 247px;
    left: 310px;
    font-size: 10px;
    font-weight: 500;
    color: #0c2a92;
    display: inline-block;
    width: 150px;
    height: 16.6px;
}
.frameParent {
    width: 404px;
    position: relative;
    height: 583px;
    left: 200px;
}
.logInInner {
    position: absolute;
    top: 100px;
    left: 175px;
    height: 583px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameInner {
    position: absolute;
    top: 8px;
    left: -1px;
    border-top: 2px solid #f5f5f5;
    box-sizing: border-box;
    width: 402px;
    height: 2px;
}
.orWrapper {
    position: absolute;
    top: 0px;
    left: 191px;
    background-color: #fff;
    width: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 3px;
    box-sizing: border-box;
}
.lineParent {
    position: absolute;
    top: 460px;
    left: 377px;
    width: 400px;
    height: 14px;
    font-size: 9px;
}
.loginimg {
    position: absolute;
    top: 0px;
    left: 50%;
    border-radius: 45px 0px 0px 45px;
    width: 781.5px;
    height: 1042px;
    object-fit: cover;
}
.logIn {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #000;
    font-family: Poppins;
}

.inputBox {
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #000;
  }


  .loginButton {
    width: 404px;
    border-radius: 10px;
    background-color: #3a5b22;
    border: 1px solid #3a5b22;
    box-sizing: border-box;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer; /* ✅ 추가 */
  }

  